@model Taskami.WebUI.Models.BackgroundColorsViewModel<Taskami.WebUI.Models.CalendarViewModel>
@{
    ViewData["Title"] = "Kalendář";
    var calendarTasks = Model.Tasks;
}

<partial name="_LogoHeader" />

<div class="text-left my-5">

    <h2>Nadcházející</h2>

    <h3 class="mt-4 text-center fs-4">Dnes</h3>
    @if (calendarTasks?.TodaysTasks != null && calendarTasks.TodaysTasks.Any())
    {
        @await Html.PartialAsync("_LoadingTasks", calendarTasks.TodaysTasks,
        new ViewDataDictionary(ViewData)
        {
        { "PrimaryBackgroundColor", Model.PrimaryColor },
        { "SecondaryBackgroundColor", Model.SecondaryColor }
        })
        }
    else
    {
        <p class="text-muted text-center">Žádné úkoly na dnešek.</p>
    }


    <h3 class="mt-4 text-center fs-4">Zítra</h3>
    @if (calendarTasks?.TomorrowsTasks != null && calendarTasks.TomorrowsTasks.Any())
    {
        @await Html.PartialAsync("_LoadingTasks", calendarTasks.TomorrowsTasks,
        new ViewDataDictionary(ViewData)
        {
        { "PrimaryBackgroundColor", Model.PrimaryColor },
        { "SecondaryBackgroundColor", Model.SecondaryColor }
        })
        }
    else
    {
        <p class="text-muted text-center">Žádné úkoly na zítra.</p>
    }


    @for (int i = 1; i <= 30; i++)
    {
        var targetDate = DateOnly.FromDateTime(DateTime.Today.AddDays(i));
        var dayTasks = calendarTasks?.AllTasks
        .Where(t => t.Due != null && DateOnly.FromDateTime(t.Due.Date) == targetDate)
        .ToList();

        if (dayTasks != null && dayTasks.Any())
        {
            <h3 class="mt-4 text-center fs-4">@targetDate.ToString("dddd, dd. MM. yyyy")</h3>
            @await Html.PartialAsync("_LoadingTasks", dayTasks,
            new ViewDataDictionary(ViewData)
        {
        { "PrimaryBackgroundColor", Model.PrimaryColor },
        { "SecondaryBackgroundColor", Model.SecondaryColor }
        })
        }
        }


</div>