@{
    ViewData["Title"] = "Inbox";
    var tasks = ViewBag.Tasks as List<Taskami.WebUI.Models.TodoistTask> ?? new();
    var inboxTasks = tasks?.Where(t => t.ProjectId == "6F2RRjJg9xmgWH7q").ToList() ?? new List<Taskami.WebUI.Models.TodoistTask>();

}

<div class="text-center my-5">
    <h1 class="display-4">Taskami</h1>
    <p>The To-Do list clone of Todoist.</p>
</div>

<div class="text-left mt-5 mb-3">
    <h2>Inbox</h2>
    <h3 class="mt-4 text-center fs-4">Nezařazené</h3>
</div>
@if (inboxTasks.Any())
{
    @await Html.PartialAsync("_LoadingTasks", inboxTasks)
}
