@model Taskami.WebUI.Models.BackgroundColorsViewModel<List<Taskami.WebUI.Models.TodoistTask>>
@{
    ViewData["Title"] = "Inbox";
    var inboxTasks = Model.Tasks ?? new List<Taskami.WebUI.Models.TodoistTask>();
}

<partial name="_LogoHeader" />

<div class="text-left mt-5 mb-3">
    <h2>Inbox</h2>
    <h3 class="mt-4 text-center fs-4">Nezařazené</h3>
</div>
@if (inboxTasks.Any())
{
    @await Html.PartialAsync("_LoadingTasks", inboxTasks)
}
