@model PomodoroViewModel;
@{
    ViewData["Title"] = "Inbox";
}

<partial name="_LogoHeader" />

<span id="work" class="d-none">@(Model.PomodoroDuration)</span>
<span id="shortBreak" class="d-none">@(Model.PomodoroBreakDuration)</span>
<span id="longBreak" class="d-none">@(Model.PomodoroLongBreakDuration)</span>

<div class="text-center my-5">
    <h2>Pomodoro časovač</h2>
    <span id="timerDisplay" class="display-1">@(Model.PomodoroDuration != 0 ? $"{Model.PomodoroDuration}:00" : "25:00")</span>
    <span id="sessionDisplay" class="mb-2 d-block text-center">0/4</span>
    <div class="w-100">
        <button id="startButton" class="btn btn-primary">Start</button>
        <button id="skipButton" class="btn btn-secondary mx-1">Skip</button>
        <button id="resetButton" class="btn btn-danger">Reset</button>
    </div>
   
</div>

<script src="js/pomodoro.js"></script>