@{
    ViewData["Title"] = "Inbox";
}

<div class="text-center my-5">
    <h1 class="display-4">Taskami</h1>
    <p>The To-Do list clone of Todoist.</p>
</div>

<div class="text-center my-5">
    <h2>Pomodoro časovač</h2>
    <span id="timerDisplay" class="display-1">25:00</span>
    <span id="sessionDisplay" class="mb-2 d-block text-center">0/4</span>
    <div class="w-100">
        <button id="startButton" class="btn btn-primary">Start</button>
        <button id="skipButton" class="btn btn-secondary mx-1">Skip</button>
        <button id="resetButton" class="btn btn-danger">Reset</button>
    </div>
   
</div>

<script src="js/pomodoro.js"></script>