@{
    ViewData["Title"] = "Nastavení";
}

<div class="text-center my-5">
    <h1 class="display-4">Taskami</h1>
    <p>The To-Do list clone of Todoist.</p>
</div>

<div class="text-left m-5">
    <h2>Nastavení</h2>
    <h3 class="my-3 text-center fs-4">Barvy</h3>
    <h3 class="my-3 text-center fs-4">Todoist API klíč</h3>
    <form asp-action="SetAPIKey" asp-controller="Home" method="post">
        @Html.AntiForgeryToken()
        <label for="apiKey">API klíč:</label>
        <input type="text" id="apiKey" name="apiKey" value="@Model" />
        <button type="submit">Uložit</button>
    </form>

</div>