@{
    ViewData["Title"] = "Dnes";
    var tasks = ViewBag.Tasks as List<Taskami.WebUI.Models.TodoistTask>;
    var todaysTasks = tasks?.Where(t => t.Due != null && DateOnly.FromDateTime(t.Due.Date) == DateOnly.FromDateTime(DateTime.Today)).ToList() ?? new List<Taskami.WebUI.Models.TodoistTask>();
    var otherTasks = tasks?.Except(todaysTasks).ToList();

    string primaryBackgroundColor = ViewData["PrimaryBackgroundColor"] as string ?? "#222";
    string secondaryBackgroundColor = ViewData["SecondaryBackgroundColor"] as string ?? primaryBackgroundColor;
}

<div class="text-center my-5">
    <h1 class="display-4">Taskami</h1>
    <p>The To-Do list clone of Todoist.</p>
</div>

<div class="text-left my-5">
    <h2>Dnes</h2>
    <p>Celkem @(tasks?.Count ?? 0) úkolů</p>
    @if (todaysTasks.Any())
    {
        @await Html.PartialAsync("_LoadingTasks", todaysTasks)
    }

    <div class="d-flex mt-4">
        Zpožděné
        <form asp-controller="Home" asp-action="Reschedule" method="post" class="d-inline ms-auto">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-link text-white p-0 m-0 align-baseline">Přeplánovat</button>
        </form>
    </div><br />

    @if (otherTasks!.Any())
    {
        @await Html.PartialAsync("_LoadingTasks", otherTasks)
    }

    </div>

    @foreach (var task in (List<Taskami.WebUI.Models.TodoistTask>)ViewBag.Tasks)
    {
        <pre>@task</pre>
    }