@model Taskami.WebUI.Models.BackgroundColorsViewModel<Taskami.WebUI.Models.TodayViewModel>
@{
    ViewData["Title"] = "Dnes";

    string primaryBackgroundColor = ViewData["PrimaryBackgroundColor"] as string ?? "#222";
    string secondaryBackgroundColor = ViewData["SecondaryBackgroundColor"] as string ?? primaryBackgroundColor;
}

<div class="text-center my-5">
    <h1 class="display-4">Taskami</h1>
    <p>The To-Do list clone of Todoist.</p>
</div>

<div class="text-left my-5">
    <h2>Dnes</h2>
    <p>Celkem @(Model.Tasks.TodaysTasks?.Count ?? 0) úkolů</p>
    @if (Model.Tasks.TodaysTasks!.Any())
    {
        @await Html.PartialAsync("_LoadingTasks", Model.Tasks.TodaysTasks)
    }

    <div class="d-flex mt-4">
        Zpožděné
        <form asp-controller="Home" asp-action="Reschedule" method="post" class="d-inline ms-auto">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-link text-white p-0 m-0 align-baseline">Přeplánovat</button>
        </form>
    </div><br />

    @if (Model.Tasks.OtherTasks!.Any())
    {
        @await Html.PartialAsync("_LoadingTasks", Model.Tasks.OtherTasks)
    }
    </div>
