@{
    ViewData["Title"] = "Dnes";
    var rawTasks = ViewBag.Tasks as List<Taskami.WebUI.Models.TodoistTask> ?? new();
    var orderedParents = rawTasks
    .Where(t => t.ParentId == null)
    .OrderBy(t =>
        t.Description != null && t.Description.StartsWith("**Current streak:**") ? 0 :
        (t.Due != null && t.Due.Date.TimeOfDay > TimeSpan.Zero ? 1 : 2))
    .ThenBy(t => t.Due?.Date)
    .ToList();
    var resultTasks = new List<Taskami.WebUI.Models.TodoistTask>();

    foreach (var parent in orderedParents)
    {
        resultTasks.Add(parent);

        var children = rawTasks
            .Where(t => t.ParentId == parent.TaskId)
            .OrderBy(t => t.Due?.Date) // nebo jak chceš řadit děti
            .ToList();

        resultTasks.AddRange(children);
    }
    var tasks = resultTasks;


    var todaysParentIds = tasks
    .Where(t => t.Due != null && DateOnly.FromDateTime(t.Due.Date) == DateOnly.FromDateTime(DateTime.Today))
    .Select(t => t.ParentId ?? t.TaskId)
    .Distinct()
    .ToList();

    var todaysTasks = tasks
        .Where(t => (t.ParentId == null && todaysParentIds.Contains(t.TaskId))
                 || (t.ParentId != null && todaysParentIds.Contains(t.ParentId)))
        .ToList();
    var otherTasks = tasks?.Except(todaysTasks).ToList();

    string primaryBackgroundColor = ViewData["PrimaryBackgroundColor"] as string ?? "#222";
    string secondaryBackgroundColor = ViewData["SecondaryBackgroundColor"] as string ?? primaryBackgroundColor;
}

<div class="text-center my-5">
    <h1 class="display-4">Taskami</h1>
    <p>The To-Do list clone of Todoist.</p>
</div>

<div class="text-left my-5">
    <h2>Dnes</h2>
    <p>Celkem @(tasks?.Count ?? 0) úkolů</p>
    @if (todaysTasks.Any())
    {
        @await Html.PartialAsync("_LoadingTasks", todaysTasks)
    }

    <div class="d-flex mt-4">
        Zpožděné
        <form asp-controller="Home" asp-action="Reschedule" method="post" class="d-inline ms-auto">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-link text-white p-0 m-0 align-baseline">Přeplánovat</button>
        </form>
    </div><br />

    @if (otherTasks!.Any())
    {
        @await Html.PartialAsync("_LoadingTasks", otherTasks)
    }
    </div>
