@using Microsoft.AspNetCore.Identity
@inject SignInManager<Taskami.WebUI.Models.ApplicationUser> SignInManager
@inject UserManager<Taskami.WebUI.Models.ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="ms-auto">
        <form asp-controller="Auth" asp-action="Logout" method="post">
            <span>@(User.Identity?.Name ?? "Neznámý uživatel")</span>
            <button type="submit" class="ms-2 dark-button">Odhlásit</button>
        </form>
    </div>

}
else
{
    <div class="ms-auto">
        <a asp-controller="Auth" asp-action="Login">Přihlásit</a>
        <a asp-controller="Auth" asp-action="Register" class="ms-2">Registrovat</a>
    </div>

}
