html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.transparent-bg {
    background-color: transparent !important;
}

.dark-input {
    background-color: var(--secondary-bg-color);
    color: white;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 6px;
}

.dark-button {
    background-color: var(--secondary-bg-color);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}

    .dark-button:hover {
        background-color: #333;
        cursor: pointer;
    }

.color-pick {
    width: 30px;
    height: 30px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    color: white;
    margin-bottom: 60px;
    overflow-x: hidden;
}

/* Levý panel */
nav.sidebar {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    color: white;
    height: 100vh; /* celá výška okna */
    justify-content: flex-start; /* položky nahoøe */
    position: fixed; /* sidebar je fixní */
    top: 0;
    left: 0;
    z-index: 1030; /* aby byl nad navbarem */
}

/* Posun navbaru doprava o sidebar */
nav.navbar {
    margin-left: 50px;
}

/* Posun containeru doprava o sidebar */
div.container {
    margin-left: 50px;
}

nav.sidebar a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

nav.sidebar a:hover {
    background-color: #444;
    border-radius: 8px;
}

a:not(nav.sidebar) {
    color: #ccc;
    text-decoration: none;
    transition: 200ms;
}
a:hover:not(nav.sidebar) {
    color: #fff;
}
.parent {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
}

    .parent.nochild {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .parent:not(.nochild) {
        padding-bottom: 10px;
    }

.child {
    padding: 0px 0px 0px 70px;
}

    .child.last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-bottom: 20px;
    }